body {
    padding: 10rem;
    justify-content: center;
}

.gridcontainer {
    display: flex;
    flex-wrap: wrap;
    width: 600px;
    height: 600px;
}

.square {
    height: 200px;
    width: 200px;
    font-size: 2rem;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
