body {
    padding: 10rem;
    justify-content: center;
}

.flex-container {
    display: flex;
}

button {
    margin-top: 1rem;
    cursor: pointer;
    padding: 0.4rem 1rem;
    background-color: rgb(135, 31, 233);
    color: white;
    border: none;
}
